# ======================
# Java & Spring Boot
# ======================
/target/
*.class
*.jar
*.war
*.iml
*.log

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iws
*.ipr
*.iml

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS별 임시파일
# ======================
.DS_Store
Thumbs.db

# ======================
# Git 관련
# ======================
*.swp
*.swo
*.bak
*.tmp

# ======================
# 보안 관련
# ======================
application.properties
application.yml
.env

# ======================
# 문서 예외 처리 (추적 허용할 문서)
# ======================
!*.ppt
!*.pptx
!*.pdf
!*.xls
!*.xlsx
